<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="mon cv">
    <meta name="author" content="Malick TOUNKARA">
    <link rel="shortcut icon" href="{{ asset('tkr/img/logos/favicon.png') }}" type="image/png">
    <meta name="google-site-verification" content="Cm2uB5WMPSyJyvnEAemfewMNP-l4vQGyxLsljWtjsrM" />
    <title>curiculum vitae de Malick Tounkara</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('tkr/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{ asset('tkr/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
        type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- Custom styles for this template -->
</head>
<style>
    body{
        background: #ccc;
    }
    .card-page{
        margin-top:5%;
    }
</style>
<body >
<div class="container">
    <div class="row card-page">
        <div class="col-10 card mx-auto">
            <div class="row">
                <div class="col-lg-4 bg-primary">
                <div class="row">
                    <div class="col-12">
                        <div class="text-center">
                            <img width="150" src="{{ asset('tkr/img/malick.png') }}" alt="malick tounkara">
                        </div>
                    </div>
                    <div class="col-12">
                        <h2>Contactez moi</h2>
                        <table class="table">
                            <tr>
                                <td><i class="fa fa-map-marker" aria-hidden="true"></i></td>
                                <td clas="align-center">Sacré-coeur 2 ,Dakar,Sénégal</td>
                            </tr>
                        </table>
                    </div>
                </div>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-12">
                            <h1>MALICK TOUNKARA</h1>
                        </div>
                        <div class="col-12">
                            <p>DEVOLLPEUR WEB</p>
                        </div>
                        <div class="col-12">
                            <h3>Profil personnel</h3>
                            <p>Je suis un informaticien  avec une connaissance holistique du développement et de la conception de logiciels. </p>
                        </div>
                        <div class="col-12">
                            <h3>éducation</h3>
                            <p></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 
    <script src="{{ asset('tkr/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('tkr/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

</body>

</html>