{% extends 'base.html.twig' %}

{% block title %}Creation{% endblock %}

{% block body %}
    <h1>Creation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ creation.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ creation.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ creation.description }}</td>
            </tr>
            <tr>
                <th>EndDate</th>
                <td>{{ creation.endDate ? creation.endDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Client</th>
                <td>{{ creation.client }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ creation.category }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('creation_index') }}">back to list</a>

    <a href="{{ path('creation_edit', {'id': creation.id}) }}">edit</a>

    {{ include('creation/_delete_form.html.twig') }}
{% endblock %}
